body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* 100% of the viewport height */
    margin: 0;
}
.main-content {

    position: relative;
}
.product-container {
    max-height: 250px;
    height: 250px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;

}

.book {
    width:200px;
    height: 200px;
    border: 1px solid #ddd;
    padding: 15px;
    margin: 10px;
    text-align: center;
}

.book img {
    width: 60px;
    height: 80px;
    margin-bottom: 10px;
}

.book-title {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 5px;
    height: 30px;
}

.book-price {
    color: #28a745;
    font-weight: bold;
}

.add-to-cart {
    background-color: #28a745;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    position:relative;
    bottom: 0;
}