<!-- views/accounts.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
  <link rel="stylesheet" href="../css/admin/accountManagement.css">
  <link rel="stylesheet" href="../css/admin/header_footer.css">
  <title>User Accounts</title>
</head>
<body>
  <header>
    <div class="addnewproduct">
        <i class="bi bi-speedometer2" style="font-size: 50px;"></i>
        <p style="font-size: 25px; margin-top: 10px;">Admin Dashboard<p>
    </div>
</header>
    <nav>

        <a href="/adminHomePage">Home</a>
        <a href="#accounts">Home</a>
        <a href="#products">Manage Product</a>
        <a href="#accounts">Manage Account</a>
        
    </nav>
    <main>
        <h1>User Accounts</h1>
        <table>
            <tr>
              <th>Username</th>
              <th>Password</th>
              <th>User ID</th>
              <th>Role</th>
              <th>Verify</th>
              <th> </th>
            </tr>
            <% accounts.forEach(account => { %>
              <tr>
                <td><%= account.USER_NAME %></td>
                <td>****</td>
                <td><%=account.ID%></td>
                <td><%= account.ROLE_NAME %></td>
                <td><%= account.VERIFY %></td>
                <td><Button>Delete Account</Button></td>
              </tr>
            <% }); %>
          </table>

    </main>

    <footer>
      <p>&copy; 2023 Admin Dashboard</p>
    </footer>
  
  
</body>
</html>
