<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/addNewProduct.css">

    <title>Admin Dashboard</title>
</head>
<body>

    <header>
        <h1>Admin Dashboard</h1>
    </header>

    <nav>
        <a href="#accounts">Home</a>
        <a href="#accounts">Home</a>
        <a href="#products">Quản lý Sản phẩm</a>
        <a href="#accounts">Quản lý Tài khoản</a>
        
    </nav>
    <main>
        <form id="productForm"  action="/addmin/addnewproduct" method="post">
            <label for="productId">ID Sản phẩm:</label>
            <input type="number" id="productId" name="productId" required>

            <label for="productName">Tên sản phẩm:</label>
            <input type="text" id="productName" name="productName" required>
      
            <label for="author">Tác giả:</label>
            <input type="text" id="author" name="author" required>
      
            <label for="category">Danh mục:</label>
            <input type="text" id="category" name="category" required>
      
            <label for="quantity">Số lượng:</label>
            <input type="number" id="quantity" name="quantity" required min="0">
      
            <label for="publishedDate">Ngày xuất bản:</label>
            <input type="date" id="publishedDate" name="publishedDate" required>
      
            <label for="description">Mô tả:</label>
            <textarea id="description" name="description" rows="4" required></textarea>
      
            <label for="imageUrl">URL hình ảnh:</label>
            <input type="text" id="imageUrl" name="imageUrl" required>
      
            <input type="submit" value="thêm sản phẩm">
          </form>
    </main>

    <footer>
        <p>&copy; 2023 Admin Dashboard</p>
    </footer>

</body>
</html>
